$min-height: 350px;

.upv-grid {
  margin: 28px auto;
  display: grid;
  width: 100%;
  grid-gap: 20px 12px;
  max-width: 1280px;
  grid-template-rows: auto;

  @media (max-width: 768px) {
    & {
      margin: 14px auto;
      padding: 0 10px;
      min-width: 100%;
      grid-gap: 20px 12px;

      &.col-2 {
        grid-gap: 40px 0px !important;
        grid-template-columns: 1fr !important;

        .upv-card-list {
          .list-body {
            grid-template-columns: repeat(4, 1fr);
          }
        }
      }

      .list-body {
        grid-template-columns: repeat(3, 1fr) !important;
      }
    }
  }

  &.col-2 {
    grid-template-columns: 4fr 2fr;
    grid-auto-rows: minmax(min-content, max-content);
    grid-gap: 0px 20px;

    .upv-card-list {
      .list-body {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  aside {
    overflow: hidden;
    min-height: $min-height;
  }

  .upv-card-list {
    min-height: $min-height;
    width: 100%;
    margin: 0 auto;

    .list-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
      height: 28px;
      margin-bottom: 12px;

      > div {
        display: flex;
        align-items: center;
        svg {
          width: 30px;
          height: 30px;
          margin-right: 6px;
        }
        h2 {
          margin-right: 10px;
          font-size: 24px;
          color: #18191c;
        }
      }

      &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 31px;
        border-radius: 8px;
        padding: 7px 12px;
        font-size: 12px;
        color: var(--text1);
        border: 1px solid var(--line_regular);
        background-color: var(--bg1_float);
        margin-left: 8px;
        transform-origin: center;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: var(--graph_bg_thick);
        }

        > svg {
          margin-left: 2px;
          transform: rotate3d(0, 0, 1, -90deg);
        }
      }
    }

    .list-body {
      width: 100%;
      display: grid;
      grid-gap: 20px 12px;
      grid-column: span 5;
      grid-template-columns: repeat(6, 1fr);

      .loading {
        animation: loading 5s infinite ease-in-out;
      }
    }
  }

  .aside-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 28px;
    margin-bottom: 12px;

    .aside-title {
      margin-right: 10px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 24px;
      color: #18191c;
      transition: color 0.2s linear;
    }
  }
}

@keyframes loading {
  2% {
    transform: translateY(1.5px) rotate(1.5deg);
  }
  4% {
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  6% {
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  8% {
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  10% {
    transform: translateY(2.5px) rotate(1.5deg);
  }
  12% {
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  14% {
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  16% {
    transform: translateY(-0.5px) rotate(-1.5deg);
  }
  18% {
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  20% {
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  22% {
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  24% {
    transform: translateY(1.5px) rotate(1.5deg);
  }
  26% {
    transform: translateY(0.5px) rotate(0.5deg);
  }
  28% {
    transform: translateY(0.5px) rotate(1.5deg);
  }
  30% {
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  32% {
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  34% {
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  36% {
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  38% {
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  40% {
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  42% {
    transform: translateY(2.5px) rotate(-1.5deg);
  }
  44% {
    transform: translateY(1.5px) rotate(0.5deg);
  }
  46% {
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  48% {
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  50% {
    transform: translateY(0.5px) rotate(0.5deg);
  }
  52% {
    transform: translateY(2.5px) rotate(2.5deg);
  }
  54% {
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  56% {
    transform: translateY(2.5px) rotate(2.5deg);
  }
  58% {
    transform: translateY(0.5px) rotate(2.5deg);
  }
  60% {
    transform: translateY(2.5px) rotate(2.5deg);
  }
  62% {
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  64% {
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  66% {
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  68% {
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  70% {
    transform: translateY(1.5px) rotate(0.5deg);
  }
  72% {
    transform: translateY(2.5px) rotate(1.5deg);
  }
  74% {
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  76% {
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  78% {
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  80% {
    transform: translateY(1.5px) rotate(1.5deg);
  }
  82% {
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  84% {
    transform: translateY(1.5px) rotate(2.5deg);
  }
  86% {
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  88% {
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  90% {
    transform: translateY(2.5px) rotate(-0.5deg);
  }
  92% {
    transform: translateY(0.5px) rotate(-0.5deg);
  }
  94% {
    transform: translateY(2.5px) rotate(0.5deg);
  }
  96% {
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  98% {
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  0%,
  100% {
    transform: translate(0) rotate(0deg);
  }
}
