$pr: 340px;

.player {
  max-width: 1300px;

  .modal {
    padding: 100px 0 40px;

    .modal-background {
      opacity: 0.3;
    }
    .modal-card-head {
      padding: 0.8em;
    }
    .modal-card-body {
      min-height: 600px;
      padding: 0;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.player-header {
  position: relative;
  margin: 1.5em auto 0em;
  max-width: 1660px;
  // min-width: 988px;
  padding-right: $pr;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  &__player {
    width: 100%;
  }

  &__r {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;

    [data-tooltip] {
      line-height: 14px !important;
    }

    .eplist_module {
      height: 100%;
      position: relative;
      background-color: #f4f4f4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;

      .list-title {
        height: 42px;
        padding: 0 16px;

        h4 {
          height: 42px;
          line-height: 42px;
          font-size: 16px;
          color: #212121;
          font-weight: 400;
          max-width: 220px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
        }
        .ep-list-progress {
          float: right;
          display: block;
          float: right;
          height: 42px;
          line-height: 42px;
          font-size: 12px;
          color: #999;
        }
      }
      .list-wrapper {
        height: 100%;
        padding: 0 16px 12px;

        ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px;
        }

        .list-item {
          width: 64px;
          height: 36px;
          line-height: 36px;
          background-color: #fff;
          border: 1px solid #e5e9ef;
          padding: 0;
          text-align: center;
          -webkit-transition: none;
          -o-transition: none;
          transition: none;
          overflow: visible;
          opacity: 1;
          color: #222;

          &.cursor {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: #fff;
          }

          &:not(.cursor) {
            &:hover {
              border-color: var(--primary-color);
              color: var(--primary-color);
            }
          }

          > span {
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 36px;
            line-height: 36px;
            display: block;
          }
        }
      }
    }
  }
}

.video-actions {
  padding: 1em 0;
  color: #505050;
  border-bottom: 1px solid #e5e9ef;
  margin-bottom: 1em;
  display: flex;
  margin-right: $pr;

  .icon-text {
    margin-right: 1em;
    cursor: pointer;
    justify-content: center;

    &.--active {
      .icon,
      .text {
        color: var(--primary-color);
      }
    }
  }

  .icon {
    display: inline-block;
    vertical-align: top;
    font-size: 1.2em;
    color: #757575;
    margin-right: 6px;
    text-align: center;
    cursor: pointer;
    .fa-message {
      font-size: 0.9em;
    }
  }
}

.video-info-wrapper {
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e9ef;
  margin-right: $pr;
}

.video-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  > *:nth-child(1) {
    margin-right: 0.5em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
  }

  &__title {
    // margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    color: var(--text1);
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    > .icon {
      font-size: 12px;
      color: var(--text3);
    }
  }

  .video-meta {
    font-size: 13px;
    color: #9499a0;
    color: var(--text3);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 24px;
    line-height: 18px;

    > img {
      border-radius: 50%;
    }
    > svg,
    > img {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }
    > span {
      display: inline-flex;
      align-items: center;
      margin-right: 12px;
    }
  }
}

.video-info__skeleton {
  margin-bottom: -120px;
}

.video-comment {
  padding-right: $pr;
}

@media screen and (max-width: 991px) {
  .player-header {
    min-width: 100%;
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0;

    &__player.empty {
      height: 200px !important;
      line-height: 200px !important;
    }

    .upv-player {
      min-height: auto;
    }

    &__r {
      margin-top: 10px;
      position: relative;
      width: 100%;
    }
  }

  .video-actions {
    .icon-text {
      flex: 1;
    }
  }

  .video-comment,
  .video-info-wrapper,
  .video-actions {
    padding-right: 0;
    margin-right: 0;
  }

  .modal {
    padding: 90px 15px 30px !important;
    // width: 100%;
    // height: 100%;
    // padding: 57px 0 0 0 !important;
    // .modal-card {
    //   height: 100%;
    //   .modal-card-body,
    //   .modal-card-head {
    //     border-radius: 0;
    //   }
    // }
  }
}

.bar_1kpj1ed-o_O-bar_g2nzkb-o_O-bar_1kvrquw {
  background-color: var(--p) !important;
}

.loader_1tyr0lr {
  color: var(--p) !important;
}
