$pr: 340px;

.player {
  max-width: 1300px;

  &.no-side {
    max-width: 77%;
    margin: 0 auto;
    .player-header {
      max-width: 100%;
      padding-right: 0;
    }

    .player-header__r {
      display: none;
    }

    .video-actions,
    .video-info-wrapper,
    .video-comment {
      padding-right: 0;
      margin-right: 0;
    }
  }

  @media screen and (max-width: 991px) {
    &.no-side {
      max-width: inherit;
    }
  }
}

.dark {
  .player-header__r .eplist_module .list-wrapper .list-item {
    background-color: #000;
    color: rgba(255, 255, 255, 0.7);
    border: none;
  }
  .video-info__title {
    color: unset;
  }
  .video-info-wrapper,
  .video-actions {
    border: none;
  }
  .eplist_module {
    background-color: rgba(95, 95, 95, 0.1) !important;
  }
}

.player-header {
  // z-index: 1;
  position: relative;
  margin: 1.5em auto 0em;
  max-width: 1660px;
  // min-width: 988px;
  padding-right: $pr;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;

  &__player {
    width: 100%;
  }

  &__r {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 320px;
    height: 100%;

    [data-tooltip]::before {
      line-height: 14px !important;
    }

    .eplist_module {
      height: 100%;
      position: relative;
      background-color: #f4f4f4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;

      .list-title {
        height: 42px;
        padding: 0 16px;

        h4 {
          height: 42px;
          line-height: 42px;
          font-size: 16px;
          // color: #212121;
          font-weight: 400;
          max-width: 220px;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
        }
        .ep-list-progress {
          float: right;
          display: block;
          float: right;
          height: 42px;
          line-height: 42px;
          font-size: 12px;
          color: #999;
        }
      }
      .list-wrapper {
        height: 100%;
        padding: 0 16px 12px;
        overflow-y: auto;
        overflow-x: hidden;

        ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 10px;
        }

        .list-item {
          width: 64px;
          height: 36px;
          line-height: 36px;
          background-color: #fff;
          border: 1px solid #e5e9ef;
          text-align: center;
          overflow: visible;
          color: #222;
          line-height: 36px;

          &.cursor {
            border-color: var(--primary-color);
            background-color: var(--primary-color);
            color: #fff;
          }

          &:not(.cursor) {
            &:hover {
              border-color: var(--primary-color);
              color: var(--primary-color);
            }
          }
        }
      }
    }
  }
}

.video-actions {
  padding: 1em 0;
  color: #505050;
  border-bottom: 1px solid #e5e9ef;
  margin-bottom: 1em;
  display: flex;
  margin-right: $pr;

  .icon-text {
    margin-right: 1em;
    cursor: pointer;
    justify-content: center;

    .icon {
      margin-right: 6px;

      svg {
        width: 22px;
        height: 22px;
        fill: #757575;
      }
    }

    &:nth-child(2) svg {
      width: 19px;
      height: 19px;
    }

    &.--active {
      svg,
      .text {
        fill: var(--primary-color);
        color: var(--primary-color);
      }
    }
  }
}

.video-info-wrapper {
  padding-bottom: 1em;
  border-bottom: 1px solid #e5e9ef;
  margin-right: $pr;
}

.video-info {
  display: flex;
  align-items: center;
  margin-bottom: 1em;

  > *:nth-child(1) {
    margin-right: 0.5em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f4f4f4;
  }

  > *:nth-child(2) {
    overflow: hidden;
  }

  &__title {
    // margin-top: 20px;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 500;
    // color: var(--text1);
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    svg {
      width: 14px;
      fill: var(--text3);
    }
  }

  .video-meta {
    font-size: 13px;
    color: #9499a0;
    color: var(--text3);
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 24px;
    line-height: 18px;

    > img {
      border-radius: 50%;
    }
    > svg,
    > img {
      margin-right: 4px;
      width: 20px;
      height: 20px;
    }
    > span {
      display: inline-flex;
      align-items: center;
      margin-right: 12px;
    }
  }
}

.video-info__skeleton {
  margin-bottom: -120px;
}

.video-comment {
  padding-right: $pr;
}

@media screen and (max-width: 991px) {
  [data-tooltip]::before {
    display: none !important;
  }
  .player-header {
    min-width: 100%;
    flex-direction: column;
    padding-right: 0px;
    margin-top: 0;

    &__player.empty {
      height: 200px !important;
      line-height: 200px !important;
    }

    .upv-player {
      min-height: auto;
    }

    &__r {
      margin-top: 10px;
      position: relative;
      width: 100%;
    }
  }

  .video-actions {
    .icon-text {
      flex: 1;
    }
  }

  .video-comment,
  .video-info-wrapper,
  .video-actions {
    padding-right: 0;
    margin-right: 0;
  }

  .eplist_module {
    max-height: 225px;
  }
}

.spinner {
  width: 70px;
  height: 70px;

  circle {
    stroke-width: 2px;
  }

  [data-spinner-trace='true'] {
    stroke-opacity: 20%;
  }
  [data-spinner-circle='true'] {
    transform-origin: 50% 50%;
    stroke-linecap: round;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: spinner_module_rotate 2s linear 0.25s infinite, spinner_module_dash 1.5s ease-in-out 0.25s infinite;
  }

  @keyframes spinner_module_rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes spinner_module_dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px;
    }

    to {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -135px;
    }
  }
}
