.logo {
  font-family: 'Nanum Pen Script';
  font-size: 27px;
  transform: scale(1.5);
}

.navbar {
  padding: 0px 24px;
  height: 100%;
  align-items: center !important;
}

.navbar-item.avatar {
  padding: 0;
}

.dark .navbar-burger {
  color: unset;
}

html.dark body .navbar,
html.dark .navbar-menu {
  background-color: #000 !important;
}

.dark a:hover,
.dark .navbar-item,
.navbar-link {
  color: #fff;
}

@media (max-width: 991px) {
  .navbar-item.avatar {
    padding: auto;
  }
}

.navbar-item img {
  max-height: 999px !important;
}

.center-search {
  display: block !important;
  flex: 1;
  flex-grow: 1 !important;
  .nav-search-form {
    position: relative;
    margin: 0 auto;
    min-width: 181px;
    max-width: 500px;
    display: flex;
    align-items: center;
    padding: 0 48px 0 4px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    line-height: 38px;
    border: 1px solid #e3e5e7;
    height: 40px;
    background-color: #f1f2f3;
    opacity: 0.9;
    transition: background-color 0.3s;
    border-radius: 8px;

    .nav-search-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding: 0 8px;
      width: 100%;
      height: 32px;
      border: 2px solid transparent;
      border-radius: 6px;

      &:focus-within {
        background-color: #e3e5e7;
      }

      .nav-search-input {
        flex: 1;
        overflow: hidden;
        padding-right: 8px;
        border: none;
        background-color: transparent;
        box-shadow: none;
        color: var(--text2);
        font-size: 14px;
        line-height: 20px;
        outline: 0;

        &:not(:placeholder-shown) {
          & + .nav-search-clean {
            visibility: visible;
          }
        }
      }

      .nav-search-clean {
        width: 16px;
        height: 16px;
        right: 10px;
        cursor: pointer;
        visibility: hidden;
      }
    }

    .nav-search-btn {
      position: absolute;
      top: 3px;
      right: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      border: none;
      border-radius: 6px;
      color: var(--text1);
      line-height: 32px;
      cursor: pointer;
      transition: background-color 0.3s;
      > svg {
        color: var(--primary-color);
        width: 17px;
        height: 17px;
      }
    }
  }
}

.navbar-end {
  .navbar-item.has-dropdown .navbar-link.is-arrowless {
    padding: 0;
    margin: 0 0.75rem;
  }

  .avatar {
    width: 45px;
    height: 45px;
  }
}
