.UploadManager {
  .tabs {
    border-bottom: hsl(0deg, 0%, 86%) 1px solid;
    ul {
      border-bottom-color: transparent;
    }
    > input {
      width: 30ch;
    }
  }

  .list {
    background-color: #fff;

    .list-item-image {
      .image {
        width: 96px;
      }
    }

    .list-item-content {
      height: 100%;

      > * {
        margin-bottom: 1em;
      }
      .icon-text {
        span.text {
          margin-right: 1em;
        }
      }
    }

    .list-item-description {
      font-size: 14px;
    }
  }

  .pagination {
    justify-content: flex-end;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #eee;

    > a {
      flex-grow: 0 !important;
    }

    *:nth-child(1) {
      order: 1;
    }
    *:nth-child(2) {
      order: 2;
      flex-grow: 0;
    }
    *:nth-child(3) {
      order: 3;
    }
  }
}
