$primary: #6668ab;

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --primary-color: #6668ab;
  --caption-color: #86909c;
  --p: #6668ab;
}

:root {
  --brand_pink: var(--Pi5);
  --brand_pink_thin: var(--Pi1);
  --brand_blue: var(--Lb5);
  --brand_blue_thin: var(--Lb1);
  --stress_red: var(--Re5);
  --stress_red_thin: var(--Re1);
  --success_green: var(--Gr5);
  --success_green_thin: var(--Gr1);
  --operate_orange: var(--Or5);
  --operate_orange_thin: var(--Or1);
  --pay_yellow: var(--Ye5);
  --pay_yellow_thin: var(--Ye1);
  --bg1: var(--Wh0);
  --bg2: var(--Ga0);
  --bg3: var(--Ga1);
  --bg1_float: var(--Ga11);
  --bg2_float: var(--Ga12);
  --text_white: var(--Wh0_u);
  --text1: var(--Ga10);
  --text2: var(--Ga7);
  --text3: var(--Ga5);
  --text4: var(--Ga3);
  --text_link: var(--Lb6);
  --text_notice: var(--Ye6);
  --line_light: var(--Ga1_s);
  --line_regular: var(--Ga2);
  --line_bold: var(--Ga3);
  --graph_white: var(--Wh0_u);
  --graph_bg_thin: var(--Ga0_s);
  --graph_bg_regular: var(--Ga1_s);
  --graph_bg_thick: var(--Ga2);
  --graph_weak: var(--Ga3);
  --graph_medium: var(--Ga5);
  --graph_icon: var(--Ga7);
  --shadow: var(--Ba0);
}

:root {
  --Ga0: #f6f7f8;
  --Ga0_s: #f6f7f8;
  --Ga0_t: #f6f7f8;
  --Ga1: #f1f2f3;
  --Ga1_s: #f1f2f3;
  --Ga1_t: #f1f2f3;
  --Ga1_e: #f1f2f3;
  --Ga2: #e3e5e7;
  --Ga2_t: #e3e5e7;
  --Ga3: #c9ccd0;
  --Ga3_t: #c9ccd0;
  --Ga4: #aeb3b9;
  --Ga4_t: #aeb3b9;
  --Ga5: #9499a0;
  --Ga5_t: #9499a0;
  --Ga6: #797f87;
  --Ga6_t: #797f87;
  --Ga7: #61666d;
  --Ga7_t: #61666d;
  --Ga8: #484c53;
  --Ga8_t: #484c53;
  --Ga9: #2f3238;
  --Ga9_t: #2f3238;
  --Ga10: #18191c;
  --Ga10_t: #18191c;
  --Ga11: #ffffff;
  --Ga12: #f1f2f3;
  --Wh0: #ffffff;
  --Wh0_t: #ffffff;
  --Ba0: #000000;
  --Ba0_s: #000000;
  --Ba0_t: #000000;
  --Pi0: #fff3f6;
  --Pi1: #ffecf1;
  --Pi2: #ffd9e4;
  --Pi3: #ffb3ca;
  --Pi4: #ff8cb0;
  --Pi5: #ff6699;
  --Pi5_t: #ff6699;
  --Pi6: #e84b85;
  --Pi7: #d03171;
  --Pi8: #ad1c5b;
  --Pi9: #771141;
  --Pi10: #3f0723;
  --Ma0: #fef3fc;
  --Ma1: #fdebfa;
  --Ma2: #fbd7f4;
  --Ma3: #f7aeeb;
  --Ma4: #f286e2;
  --Ma5: #ee5ddb;
  --Ma6: #da41cb;
  --Ma7: #c525ba;
  --Ma8: #9b1797;
  --Ma9: #670f67;
  --Ma10: #330834;
  --Re0: #fef3f2;
  --Re1: #feecea;
  --Re2: #fdd7d4;
  --Re3: #fcafaa;
  --Re4: #fa857f;
  --Re5: #f85a54;
  --Re6: #e23d3d;
  --Re7: #c9272c;
  --Re8: #9f1922;
  --Re9: #710e18;
  --Re10: #3b060d;
  --Or0: #fff6ee;
  --Or1: #fff0e3;
  --Or2: #ffe1c7;
  --Or3: #ffc18f;
  --Or4: #ffa058;
  --Or5: #ff7f24;
  --Or6: #e95b03;
  --Or7: #bb4100;
  --Or8: #8d2d00;
  --Or9: #5e1b00;
  --Or10: #2f0c00;
  --Ye0: #fffaef;
  --Ye1: #fff6e4;
  --Ye2: #ffeec9;
  --Ye3: #ffdb93;
  --Ye4: #ffc65d;
  --Ye5: #ffb027;
  --Ye6: #e58900;
  --Ye7: #b76800;
  --Ye8: #8a4a00;
  --Ye9: #5b2e00;
  --Ye10: #2f1600;
  --Ly0: #fffcec;
  --Ly1: #fffadf;
  --Ly2: #fff5bf;
  --Ly3: #ffea80;
  --Ly4: #ffdc40;
  --Ly5: #ffcc00;
  --Ly6: #d5a300;
  --Ly7: #aa7d00;
  --Ly8: #805a00;
  --Ly9: #553900;
  --Ly10: #2b1b00;
  --Lg0: #f7fbef;
  --Lg1: #f2f9e4;
  --Lg2: #e3f2c8;
  --Lg3: #c7e691;
  --Lg4: #a9d95b;
  --Lg5: #88cc24;
  --Lg6: #66b105;
  --Lg7: #4e8e04;
  --Lg8: #376a03;
  --Lg9: #224702;
  --Lg10: #102301;
  --Gr0: #effbf3;
  --Gr1: #e4f8ea;
  --Gr2: #caf1d6;
  --Gr3: #95e4af;
  --Gr4: #5fd689;
  --Gr5: #2ac864;
  --Gr6: #0eb350;
  --Gr7: #089043;
  --Gr8: #046e35;
  --Gr9: #034926;
  --Gr10: #012414;
  --Cy0: #edfbfb;
  --Cy1: #e2f8f8;
  --Cy2: #c4eff0;
  --Cy3: #89e1e1;
  --Cy4: #4fd3d1;
  --Cy5: #14c4bf;
  --Cy6: #02aaaa;
  --Cy7: #018488;
  --Cy8: #015f66;
  --Cy9: #013d44;
  --Cy10: #001d22;
  --Lb0: #ecfafe;
  --Lb1: #dff6fd;
  --Lb2: #bfedfa;
  --Lb3: #80daf6;
  --Lb4: #40c5f1;
  --Lb5: #00aeec;
  --Lb6: #008ac5;
  --Lb7: #00699d;
  --Lb8: #004b76;
  --Lb9: #002f4f;
  --Lb10: #001627;
  --Bl0: #f3f5ff;
  --Bl1: #ebefff;
  --Bl2: #d7dfff;
  --Bl3: #b0c1ff;
  --Bl4: #88a4ff;
  --Bl5: #6188ff;
  --Bl6: #4c6de4;
  --Bl7: #3752c8;
  --Bl8: #2136ac;
  --Bl9: #121f7f;
  --Bl10: #080d41;
  --Pu0: #f9f4ff;
  --Pu1: #f6edff;
  --Pu2: #eddbff;
  --Pu3: #d8b6ff;
  --Pu4: #c392ff;
  --Pu5: #ac6dff;
  --Pu6: #8f56e4;
  --Pu7: #723ecc;
  --Pu8: #5627b3;
  --Pu9: #371683;
  --Pu10: #190a44;
  --Br0: #faf8f6;
  --Br1: #f7f3f0;
  --Br2: #efe7e0;
  --Br3: #e0cfc1;
  --Br4: #d0b7a3;
  --Br5: #c19d84;
  --Br6: #a5816a;
  --Br7: #856553;
  --Br8: #634a3e;
  --Br9: #423029;
  --Br10: #211815;
  --Si0: #f9fbfc;
  --Si1: #f5f7fa;
  --Si2: #ebeff4;
  --Si3: #d7e0ea;
  --Si4: #c3d0df;
  --Si5: #afc0d5;
  --Si6: #8d9fb9;
  --Si7: #6d7f9c;
  --Si8: #4d5d7c;
  --Si9: #323d54;
  --Si10: #191e2b;
}
