.markdown {
  :global {
    .editor-container {
      > .sec-html {
        > .html-wrap {
          padding: 0;
        }
      }
    }
  }
}

.markdown_render {
  border: none;
}

.markdown_editor {
  min-height: 180px;
}

.rc-md-editor .editor-container .sec-html {
  padding: 0;
}

.custom-html-style ol,
.custom-html-style ul {
  padding-left: 0;
}
