@charset "utf-8";

// @import url('https://fonts.googleapis.com/css?family=Nanum Pen Script');

@import '../node_modules/@web/shared/theme.scss';

@import 'bulma/sass/themes';

@import '../../../node_modules/bulma/sass/base';
@import '../../../node_modules/bulma/sass/utilities';
@import '../../../node_modules/bulma/sass/form';

@import '../../../node_modules/bulma/sass/layout/container.scss';
@import '../../../node_modules/bulma/sass/layout/footer.scss';

@import '../../../node_modules/bulma/sass/elements/icon.scss';
@import '../../../node_modules/bulma/sass/elements/tag.scss';
@import '../../../node_modules/bulma/sass/elements/image.scss';
@import '../../../node_modules/bulma/sass/elements/button.scss';
// @import '../../../node_modules/bulma/sass/elements/other.scss';

@import '../../../node_modules/bulma/sass/components/dropdown.scss';
@import '../../../node_modules/bulma/sass/components/card.scss';
@import '../../../node_modules/bulma/sass/components/navbar.scss';
@import '../../../node_modules/bulma/sass/components/tabs.scss';
@import '../../../node_modules/bulma/sass/components/modal.scss';

// @import '../../../node_modules/bulma-tooltip/src/sass/index.sass';

html {
  transition: all 0.4s ease;
  // background-color: $light !important;
  // color: $dark !important;
  --white: $dark;
  --black: $light;
}

html.theme-dark body {
  background-color: #000 !important;
  color: $light !important;
  --white: $light;
  --black: $dark;
  --backgroud: #4a4a4a;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

.theme-dark::view-transition-old(root) {
  z-index: 9999;
}

.theme-dark::view-transition-new(root) {
  z-index: 1;
}

html.theme-dark body .footer {
  background-color: var(--white, white);
}

// fix safari
.button.is-primary[disabled] {
  border: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

main {
  min-height: 90vh;
}

.font-family-logo {
  font-family: 'Nanum Pen Script';
}

.button > svg {
  width: 14px;
  height: 16px;
}

.button.is-primary svg {
  fill: #fff;
}

.empty {
  color: var(--caption-color);
}

.footer {
  padding: 2rem 1.5rem 2rem;
  text-align: center;

  .links > a {
    font-size: 0.8em;
    color: #4a4a4a;
    color: var(--white, white);
  }
}

.bd-footer-support {
  // background-color: #fafafa;
  color: var(--white, white);
  text-align: center;

  .bd-footer-title {
    color: #7a7a7a;
    font-size: 1.25rem;
    line-height: 1.25;
    // margin-bottom: 0.5rem;
    transition-duration: 86ms;
    transition-property: color;
    font-size: 1.5rem;
    strong {
      color: currentColor;
      font-weight: 600;
    }
    span {
      vertical-align: middle;
      color: #7a7a7a;
      font-size: 1.7rem;
      font-weight: 400;
    }
  }
}
