.comment-manager {
  .list {
    .list-item {
      border-bottom-color: #eee;
      padding: 0.75em 0;
    }
    .list-item-title .action {
      color: #7a7a7a;
      font-size: 16px;
      font-weight: normal;
    }
    a {
      color: #8080aa;
    }
  }

  .pagination {
    justify-content: flex-end;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #eee;

    > a {
      flex-grow: 0 !important;
    }

    *:nth-child(1) {
      order: 1;
    }
    *:nth-child(2) {
      order: 2;
      flex-grow: 0;
    }
    *:nth-child(3) {
      order: 3;
    }
  }
}
